<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProCon2013.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProCon2013.Properties.Settings>
            <setting name="SERVER_URL" serializeAs="String">
                <value>192.168.2.2</value>
            </setting>
            <setting name="PLAYER_ID" serializeAs="String">
                <value>822474795</value>
            </setting>
            <setting name="TEXTURL" serializeAs="String">
                <value>str.txt</value>
            </setting>
        </ProCon2013.Properties.Settings>
    </userSettings>
</configuration>